name: publish-beta

on:
  push:
    branches: [ main ]
    paths:
        - 'DH.SKIT.FlurlHttpClient.Common/**'
        - 'DH.SKIT.FlurlHttpClient.Tools.CodeAnalyzer/**'
  workflow_dispatch:

jobs:
  build-publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup dotNET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.x
          9.x
          10.x
    - name: Restore
      run: |
        dotnet restore DH.SKIT.FlurlHttpClient.Common/DH.SKIT.FlurlHttpClient.Common.csproj
        dotnet restore DH.SKIT.FlurlHttpClient.Tools.CodeAnalyzer/DH.SKIT.FlurlHttpClient.Tools.CodeAnalyzer.csproj
    - name: Build
      run: |
        dotnet pack --no-restore --version-suffix $(date "+%Y.%m%d-beta%H%M") -c Release -o out DH.SKIT.FlurlHttpClient.Common/DH.SKIT.FlurlHttpClient.Common.csproj
        dotnet pack --no-restore --version-suffix $(date "+%Y.%m%d-beta%H%M") -c Release -o out DH.SKIT.FlurlHttpClient.Tools.CodeAnalyzer/DH.SKIT.FlurlHttpClient.Tools.CodeAnalyzer.csproj
    - name: Publish
      run: |
        dotnet nuget push ./out/*.nupkg --skip-duplicate --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.nugetKey }}
        dotnet nuget push ./out/*.nupkg --skip-duplicate --source https://nuget.chuangchu.net/v3/index.json --api-key ${{ secrets.mynugetKey }}
